.artistbox {
  width: 20vw;
  margin: 1vw;
}

.artistbox img {
  width: 100%;
  cursor: pointer;
  transition: all 100ms linear;
  margin-bottom: 8px;
}

.artistbox img:hover {
  transform: scale(0.95);
}

@media (max-width: 950px) {
  .artistbox {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .artistbox {
    width: 40vw;
  }
}