.footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 0 5vh 3vh;
}

.footer span {
  font-size: 14px;
  cursor: pointer;
  background: #ebebeb;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  margin-right: 5px;
  color: blue;
}

.logo {
  height: 1em;
  margin: 5px;
}
