.footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 3vh 5vh;
  font-size: 16px;
  justify-content: space-between;
}

.footer span {
  cursor: pointer;
  margin-right: 5px;
  color: blue;
}

.footer span,
.caption {
  background: #ebebeb;
  padding: 8px 15px 10px 15px;
  border-radius: 2px;
}

.caption {
  align-self: flex-end;
  cursor: default;
  color: black;
}