.header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 5vh 3vh;
  z-index: 10001;
}

.title {
  padding: 1vh 5vh;
  position: fixed;
  z-index: 10001;
  background: #ebebeb;
  display: block;
}