.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--frame-padding);
  z-index: 10001;
  position: fixed;
}

.title,
.breadcrumbs {
  border-radius: 2px;
  font-size: 28px;
}

.title {
  display: flex;
  padding: 1vh 1vw;
  margin-bottom: 0;
  align-items: center;
  background: #ebebeb;
}

.title video {
  display: inline;
  margin-right: 1vw;
  width: 80px;
}

.breadcrumbs {
  display: flex;
  flex-flow: column;
}

.breadcrumb {
  margin: 0 0 0.5vh;
  background: #ebebeb;
  padding: 0.5vh 5vw;
  cursor: pointer;
}

.disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.2;
}

.breadcrumb > * {
  display: inline;
}

.arrow {
  margin-right: 12px;
}

@media (max-width: 955px) {
  .header {
    flex-flow: column;
    font-size: 18px;
  }

  .title,
  .breadcrumbs {
    font-size: 18px;
  }

  .title {
    margin-bottom: 0.5vh;
    display: block;
    text-align: center;
  }

  .title video {
    display: none;
  }

  .breadcrumbs {
    flex-flow: row;
    justify-content: space-between;
  }
}

@media (max-width: 355px) {
  .title,
  .breadcrumbs {
    font-size: 12px;
  }
}