.header {
  width: 100%;
  display: flex;
  margin: 3vh 5vh;
  z-index: 10001;
  position: fixed;
}

.title,
.breadcrumbs {
  background: #ebebeb;
  padding: 1vh 5vh;
  border-radius: 2px;
  font-size: 28px;
}

.title {
  display: block;
}

.breadcrumbs {
  cursor: pointer;
  position: absolute;
  left: 71vw;
  width: 24vw;
  display: flex;
}

.arrow {
  margin-right: 18px;
  display: inline;
}