.footer {
  width: 100%;
  display: flex;
  position: fixed;
  left: 3vh;
  bottom: 3vh;
  padding: 3vh 5vh;
  font-size: 16px;
  justify-content: space-between;
  z-index: 100001;
}

.footer nav a {
  margin-right: 5px;
  color: blue;
  background: #ebebeb;
  padding: 8px 15px 10px 15px;
  border-radius: 2px;
}