.footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: var(--frame-padding);
  justify-content: space-between;
  z-index: 100001;
}

.footer nav a {
  margin-right: 5px;
  color: blue;
  background: #ebebeb;
  padding: 1vh 1vw;
  border-radius: 2px;
  display: inline-block;
}

@media (max-width: 955px) {
  .footer {
    font-size: 14px;
  }
  .footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 355px) {
  .footer {
    font-size: 12px;
  }
}