@font-face {
  font-family: 'PxGrotesk-Bold';
  src:  url('/fonts/PxGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/PxGrotesk-Bold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PxGrotesk-Bold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: block;
}

.grid {
  position: absolute;
  top: -10vh;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 120vw;
  transition: all 1s linear;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
  opacity: 1;
  transition-delay: 0.2s;
}

.grid.previous-grid {
  opacity: 0.6;
  transform: translateY(-50%) scale(0.6);
  transition: all 1s linear;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
  pointer-events: none;
}

.grid figure {
  width: 6%;
  height: auto;
  margin: 1%;
  cursor: pointer;
  position: relative;
}

.grid figure img {
  display: block;
  height: 100%;
  width: 100%;
}

.grid figure:hover {
  z-index: 10;
  transform: scale(2.2);
}

.grid figure.selected {
  z-index: 11;
  border: 3px solid red;
}

.grid figure.selected {
  transform: scale(2.2);
}

.breadcrumbs {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.breadcrumbs .arrow {
  font-size: 100px;
}