@font-face {
  font-family: 'PxGrotesk-Bold';
  src:  url('/fonts/PxGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/PxGrotesk-Bold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PxGrotesk-Bold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main.side-page {
  height: auto;
  overflow: auto;
  padding: 10vh 10vw;
}

.container {
  display: block;
}

.outer-grid {
  position: absolute;
  width: 135vw;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  z-index: 12;
}

.grid.previous-grid {
  opacity: 0.6;
  pointer-events: none;
  z-index: 11;
}

.grid figure {
  width: 9.2vw;
  height: auto;
  margin: 1vw;
  cursor: pointer;
  position: relative;
}

.grid figure img {
  display: block;
  height: 100%;
  width: 100%;
}

.grid figure:hover {
  z-index: 10;
  transform: scale(2.2);
}

.grid figure.selected {
  z-index: 11;
  border: 3px solid red;
}

.grid figure.selected {
  transform: scale(2.2);
}

.caption {
  background: #ebebeb;
  padding: 8px 15px 10px 15px;
  border-radius: 2px;
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  color: black;
  z-index: 100001;
}

.artists {
  display: flex;
  width: 80vw;
  flex-flow: wrap;
  justify-content: center;
}

.about-text {
  width: 320px;
}

.about-text p {
  position: relative;
  z-index: 11;
  margin-bottom: 12px;
}

.about-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  width: 25vw;
  height: 25vw;
}