html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
}

.container {
  display: block;
}

.grid {
  position: absolute;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  transition: all 1s linear;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
  opacity: 0;
  transform: translateY(10%) scale(1.1);
  transition-delay: 0.2s;
}

.grid.initial {
  opacity: 1;
  transform: translate(0%) scale(1);
}

.grid.moved {
  opacity: 0.1;
  transform: translateY(-50%) scale(0.6);
  transition: all 1s linear;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.grid figure {
  width: 6%;
  height: auto;
  margin: 0.125%
}

.grid figure img {
  display: block;
  height: 100%;
  width: 100%;
}

.grid figure img:hover {
  transform: scale(5.2);
}

.breadcrumbs {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.breadcrumbs .arrow {
  font-size: 100px;

}